<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>272859363635-l337et7c8spr3pjit9oul03nqppdhmcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272859363635-l337et7c8spr3pjit9oul03nqppdhmcc</string>
	<key>API_KEY</key>
	<string>AIzaSyBilW8AgLuXAbuZHVVR0gLf3Io-pFfMqsY</string>
	<key>GCM_SENDER_ID</key>
	<string>272859363635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Stell-Software.Chores</string>
	<key>PROJECT_ID</key>
	<string>chores-5f330</string>
	<key>STORAGE_BUCKET</key>
	<string>chores-5f330.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272859363635:ios:8df305316f945a92</string>
	<key>DATABASE_URL</key>
	<string>https://chores-5f330.firebaseio.com</string>
</dict>
</plist>